.products-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.5rem;
  padding: 1rem;
  width: 100%;
  max-width: 350px;
  margin: 0 auto;
}

/* Media queries */

@media screen and (min-width: 692px) {
  .products-container {
    grid-template-columns: repeat(2, 1fr);
  }

  .products-container {
    max-width: 650px;
  }
}

@media screen and (min-width: 768px) {
  /* .products-container {
    grid-template-columns: repeat(3, 1fr);
  } */
}

@media screen and (min-width: 992px) {
  .products-container {
    grid-template-columns: repeat(3, 1fr);
  }

  .products-container {
    max-width: 1200px;
  }
}
